/* Base CSS for where2live project */

.primary-1 { background-color: #F3F9FE }
.primary-2 { background-color: #9BCEF5 }
.primary-0 { background-color: #5EB2F2 }
.primary-3 { background-color: #2699F2 }
.primary-4 { background-color: #0288F0 }
.primary-black { background-color: #222222}
.primary-white { background-color: #FDFDFD}

.secondary-1 { background-color: #F2FEF9 }
.secondary-2 { background-color: #95F7CD }
.secondary-0 { background-color: #54F4AF }
.secondary-3 { background-color: #18F395 }
.secondary-4 { background-color: #00F18A }

body {
  margin:0; padding: 2em;
  background: #fdfdfd;
  color: #222222;
  font: 13px/1.33  "Montserrat Light", "Montserrat", "Segoe UI", "Helvetica Neue", Helvetica, sans-serif;
  text-align:left;
}

h1 {
  margin: 0.5em 0;
  font-size: 200%;
  color: #222222
}

p {
  margin: 0.5em 0;
}

hr {
  margin: 2em 0 1em 0;
  border:none;
  border-bottom:1px solid silver;
}
