<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://where2next.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>where2next.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>where2next</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$where2next</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="suburbEntities" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Where2Next.suburbEntities, Where2Next" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="Where2Next.Properties.Settings.StorageConnectionString" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="DefaultEndpointsProtocol=https;AccountName=where2next;AccountKey=5/o577jx5tpc3XZDhQ+PxI9VmK/gd5goRpjRZPNVSspZtIklPp/tuU+JlCNb1VvJZ4I3Wz/qaaNjKf7yTdnPVA==;BlobEndpoint=https://where2next.blob.core.windows.net/;TableEndpoint=https://where2next.table.core.windows.net/;QueueEndpoint=https://where2next.queue.core.windows.net/;FileEndpoint=https://where2next.file.core.windows.net/" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Where2Next.Properties.Settings.StorageConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="DefaultEndpointsProtocol=https;AccountName=where2next;AccountKey=5/o577jx5tpc3XZDhQ+PxI9VmK/gd5goRpjRZPNVSspZtIklPp/tuU+JlCNb1VvJZ4I3Wz/qaaNjKf7yTdnPVA==;BlobEndpoint=https://where2next.blob.core.windows.net/;TableEndpoint=https://where2next.table.core.windows.net/;QueueEndpoint=https://where2next.queue.core.windows.net/;FileEndpoint=https://where2next.file.core.windows.net/" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)suburbEntities-Web.config Connection String" />
  </ItemGroup>
</Project>